html,
body {
  margin: 0;
}

:focus {
  outline-style: none;
  outline-color: transparent;
  background-color: #ebf9fd;
}

header {
  background-color: #16b8eb;
  width: 100%;
  top: 0;
  position: fixed;
  margin-right: 0px;
}

header img {
  margin-top: 8px;
}

.logo1 {
  width: 15%;
  justify-content: center;
  align-items: center;
  margin-left: 320px;
  margin-bottom: 20px;
}

.container {
  width: 70%;
  height: 600px;
  margin: auto;
  background-color: blue;
}

.iphone {
  position: relative;
  width: 30%;
  height: 400px;
  margin-left: 160px;
  margin-top: 40px;
}

.iphone img {
  width: 100%;
}

@media (max-width: 1100px) {
  .iphone {
    display: none;
  }
}

#amount-buttons {
  width: 30%;
  position: fixed !important;
  display: table;
  margin-left: 699px;
  margin-top: -290px;
}

#amount-buttons > a {
  font-size: 20px;
  font-weight: 500;
  display: grid;
  float: left;
  width: 100px;
  margin-right: 8px;
  margin-bottom: 8px;
  padding: 8px 5px;
  text-align: center;
  text-decoration: none;
  color: #18d0fd;
  border: 1px solid #18d0fd;
  border-radius: 6px;
  box-sizing: border-box;
  margin-left: 2px;
}

#amount-buttons > a:hover {
  color: #16b8eb;
  border: 3px solid #16b8eb;
  padding: 6px 5px;
}

#amount-buttons > a:active {
  color: #16b8eb;
  border: 3px solid #16b8eb;
}

#amount-buttons > a.amount-button-selected {
  color: #fff;
  background-color: #16b8eb;
  border: 1px solid #16b8eb;
  padding: 8px 5px;
}

#widget {
  width: 100% !important;
  margin-top: 60px;
  margin-left: 0px;
}

.footer {
  width: 100%;
  font-size: 17px;
  position: absolute;
  position: absolute;
  bottom: 30px;
}

.leftfooter {
  text-align: left;
  padding-left: 15px;
  margin-bottom: -25px;
  margin-left: 20px;
}

.footer a {
  font-family: 'Lato', sans-serif;
  color: #535353;
  font-weight: 500;
}

.footer .rightfooter {
  padding-right: 40px;
}

.rightfooter {
  text-align: right;
  color: #535353;
  margin-bottom: -20px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
}

.footer .rightfooter {
  padding-right: 40px;
}

.rightfooter {
  text-align: right;
  color: #535353;
}

.rightfooter .logo {
  width: 120px;
  min-width: 100px;
  position: relative;
  top: 4px;
  margin: -10px;
}

/*Custom Amount*/
.custom-amount-wrapper {
  display: none;
  clear: both;
  width: 100%;
  margin-top: 55px;
  margin-left: 4px;
}

.title-custom-amount {
  font-size: 20px;
  color: #888;
}

.input-custom-amount {
  background: transparent;
  width: 10%;
  border: none;
  border-bottom: 1px solid transparent;
  font-size: 20px;
  font-weight: 200;
  color: #17afec;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.editon .input-custom-amount {
  color: #888;
  border-color: #333;
}

.custom-amount-input-wrapper::before {
  content: '$';
  display: inline-block;
  font-size: 18px;
  color: #17afec;
  width: 15px;
  height: 15px;
  position: relative;
}

.editon .custom-amount-input-wrapper::before {
  color: #000;
}

.custom-amount-error-msg {
  font-size: 16px;
  color: red;
  display: none;
}

.button-custom-amount {
  margin-left: 8px;
  margin-bottom: 8px;
  width: 100px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background-color: #16b8eb;
  border: 1px solid #16b8eb;
  border-radius: 6px;
  padding: 8px 5px;
  cursor: pointer;
}

.button-custom-amount.edit {
  background-color: transparent;
  color: #16b8eb;
}

.button-custom-amount.confirm {
  display: none;
}

.editon .button-custom-amount.confirm {
  display: inline-block;
}

.editon .button-custom-amount.edit {
  display: none;
}

.modal {
  margin-top: -300px;
  margin-left: 715px;
  display: none;
  justify-content: center;
  width: 19.3%;
  height: 65.6%;
  background-color: #ffff;
  box-shadow: 10px 10px 15px rgba(1, 1, 1, 0.4);
  position: absolute;
  border-radius: 7px;
  /*transition: all 3s ease;*/
}

.modal p {
  color: #0ae06b;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  margin-top: 150px;
  transition: all 3s ease;
  font-family: 'Lato', sans-serif;
}

.modal-denied {
  margin-top: -300px;
  margin-left: 715px;
  display: none;
  justify-content: center;
  opacity: 0.7;
  width: 19.3%;
  height: 65.6%;
  background-color: red;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  position: absolute;
  border-radius: 7px;
  transition-timing-function: ease;
  /*transition: all 3s ease;*/
}

.modal-denied p {
  color: #ebf9fd;
  font-size: 40px;
  font-weight: 900;
  text-align: center;
  justify-content: center;
  margin-top: 150px;
  transition: all 3s ease;
  font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 1024px) {
  .footer {
    position: relative;
    margin-top: 700px;
  }

  @media (max-width: 1100px) {
    .iphone {
      display: none;
    }
  }

  .footer .rightfooter {
    width: 40%;
    position: absolute;
    margin-left: 400px;
    margin-top: 280px;
  }

  .leftfooter {
    width: 30%;
    position: absolute;
    display: grid;
    margin-top: 280px;
  }

  #amount-buttons {
    width: 90%;
    display: table;
    position: fixed !important;

    margin-left: 33px;
    margin-top: -530px;
    margin-bottom: -50px;
  }
}

@media (max-width: 414px) {
  #amount-buttons {
    display: grid;
    background-color: greenyellow;
    width: 5%;
  }

  /* #amount-buttons .custom-buttom {
    display: none;
  } */

  #widget {
    background-color: blue;
    width: 5%;
  }

  .footer {
    position: relative;
    margin-top: 700px;
  }

  .footer .rightfooter {
    width: 40%;
    position: absolute;
    margin-left: 400px;
    margin-top: 280px;
  }

  .leftfooter {
    width: 30%;
    position: absolute;
    display: grid;
    margin-top: 280px;
  }
}
